

.app
{
    background-color: $color-White;
    border-radius: 24px;
    border-bottom-right-radius: 100px;
    padding: 4em 2em;

    @media (min-width:1000px)
    {
        padding: 4em;
        border-bottom-right-radius: 200px;
    }
}


.form 
{
    
    &__main
    {
        display: flex;
        gap: 1.33em;
        margin-bottom: 2.66em;
        
        @media (min-width:1000px)
        {
            margin-bottom: 0;
            padding-right: 13.1em;
        }
    }

   

    &__input::placeholder {
        color: $color-Grey;
        opacity: 100%;
    }
    &__input {
        font-size: 1.66rem;
        font-weight: bold;
        padding: .6em .8em;
        border-radius: 8px;
        border:solid 1px $color-Line;

        @media (min-width:1000px)
        {
            font-size: 2.28em;
            padding: .375em .75em;
        }

        &-error 
        {
            @extend .error;
            display: none;
        }

        &-container {
            display: flex;
            flex-direction: column;
            width: 87px;
    
            @media (min-width:1000px)
            {
                width: 160px;
            }
        }
    
        &-label 
        {
            font-weight: bold;
            text-transform: uppercase;
            color: $color-Grey;
            letter-spacing: .25em;
            margin-bottom: .33em;
    
            @media(min-width:1000px)
            {
                margin-bottom: .57em;
            }
        }

        &-container.invalid &-error 
        {
            display: block;
        }
    }
    &__input::-webkit-outer-spin-button,
    &__input::-webkit-inner-spin-button
    {
        -webkit-appearance: none;
        margin:0;
    }
    &__input[type=number]{
        appearance:inherit;
        -moz-appearance: textfield;
    }


    &__error-main 
    {
        @extend .error;
        display: none;
    }

    &.invalid &__error-main 
    {
        display: block;
    }

    &.invalid &__input-error 
    {
        display: none;
    }
    
   

     &__submit 
     {
        position: relative;
        margin-bottom: 2.66em;

        &::after
        {
            content: '';
            position: absolute;
            left:0px;
            top:50%;
            width: 100%;
            height: 1px;
            transform: translateY(-50%);
            background-color: $color-Line;
            z-index: 0;
        }

        &-btn 
        {
            position: relative;
            border-radius: 50%;
            border:none;
            z-index: 1;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 1.66em;
            cursor: pointer;
            background-color: $color-Purple;
            transition: background-color 300ms;

            @media (min-width:1000px)
            {
                margin-right: 0;
            }
            
            &:hover {
                background-color: $color-Black;
            }

           
        }
        &-img 
        {
            width: 24px;
            height: 24px;
            display: block;
        }
     }

     

}


.results 
{
    &__result 
    {
        font-size: 4.66rem;
        font-style: italic;
        font-weight: 800;
        line-height: .5;

        @media(min-width: 1000px)
        {
            font-size: 7.42rem;
        }
    }

    &__highlight 
    {
        color: $color-Purple;
    }
}



